In [2]:
import pandas as pd
import random
from game import Connect4

In [3]:
def generate_random_board():
    game = Connect4()

    # Pick random number of moves to simulate
    moves_to_make = random.randint(6, 20)
    current_player = game.PLAYER_1

    for _ in range(moves_to_make):
        # Get a list of all columns that aren't full
        valid_columns = [col for col in range(7) if game.is_valid_move(col)]

        # Stop if board full/no valid moves
        if not valid_columns:
            break

        # Choose random column & drop disc
        col = random.choice(valid_columns)
        game.drop_disc(col, current_player)

        # Change turns
        current_player = game.PLAYER_2 if current_player == game.PLAYER_1 else game.PLAYER_1

    return game

In [4]:
# Flattens board & uses minimax to choose best move
def label_board_with_minimax(game):
    flat_board = [game.convert_symbol(cell) for row in game.board for cell in row]
    move = game.minimax_agent_move()
    return flat_board, move

In [5]:
# Build dataset by generating & labelling random boards
data = []

for _ in range(2000):
    game = generate_random_board()
    if not game.is_full():
        board, move = label_board_with_minimax(game)
        data.append(board + [move])

In [6]:
# Convert into dataframe & export as csv
df = pd.DataFrame(data)
df.to_csv("minimax_labelled_data.csv", index=False)

In [7]:
# Preview data
df.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,0,0,0,0,0,0,0,0,0,...,0,-1,0,1,-1,0,1,0,-1,6
1,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,-1,1,-1,-1,2
2,0,0,0,0,0,0,0,0,0,0,...,0,1,1,-1,-1,1,-1,1,1,3
3,0,0,0,0,0,0,0,0,0,0,...,0,1,1,-1,0,-1,0,1,1,2
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,-1,1,-1,1,-1,3